Data Cleaning for DataScience

In this tutorial, we will cover

1. Handling missing values
2. Data standardization and Normalization
3. Detecting and treating outliers

In [19]:
import pandas as pd

file_path = '/Users/aizaz/Downloads/Salary_Data.csv'

df = pd.read_csv(file_path)
print('Original Dataset')

#df = df[['Age','Gender','Years of Experience','Salary','Education Level']]

print(df.head(20))

Original Dataset
     Age  Gender Education Level              Job Title  Years of Experience  \
0   32.0    Male      Bachelor's      Software Engineer                  5.0
1   28.0  Female        Master's           Data Analyst                  3.0
2   45.0    Male             PhD         Senior Manager                 15.0
3   36.0  Female      Bachelor's        Sales Associate                  7.0
4   52.0    Male        Master's               Director                 20.0
5   29.0    Male      Bachelor's      Marketing Analyst                  2.0
6   42.0  Female        Master's        Product Manager                 12.0
7   31.0    Male      Bachelor's          Sales Manager                  4.0
8   26.0  Female      Bachelor's  Marketing Coordinator                  1.0
9   38.0    Male             PhD       Senior Scientist                 10.0
10  29.0    Male        Master's     Software Developer                  3.0
11  48.0  Female      Bachelor's             HR Manager                 18.0
12  35.0    Male      Bachelor's      Financial Analyst                  6.0
13   NaN  Female        Master's        Project Manager                 14.0
14  27.0    Male      Bachelor's   Customer Service Rep                  2.0
15  44.0    Male      Bachelor's     Operations Manager                 16.0
16  33.0  Female        Master's      Marketing Manager                  7.0
17  39.0    Male             PhD        Senior Engineer                 12.0
18  25.0  Female      Bachelor's       Data Entry Clerk                  0.0
19  51.0    Male      Bachelor's         Sales Director                 22.0

      Salary
0    90000.0
1    65000.0
2   150000.0
3    60000.0
4   200000.0
5    55000.0
6   120000.0
7    80000.0
8    45000.0
9   110000.0
10   75000.0
11  140000.0
12   65000.0
13  130000.0
14   40000.0
15  125000.0
16   90000.0
17  115000.0
18   35000.0
19  180000.0

Cleaned Dataset
      Age  Gender Education Level                      Job Title  \
0    32.0    Male      Bachelor's              Software Engineer
1    28.0  Female        Master's                   Data Analyst
2    45.0    Male             PhD                 Senior Manager
3    36.0  Female      Bachelor's                Sales Associate
4    52.0    Male        Master's                       Director
..    ...     ...             ...                            ...
370  35.0  Female      Bachelor's       Senior Marketing Analyst
371  43.0    Male        Master's         Director of Operations
372  29.0  Female      Bachelor's         Junior Project Manager
373  34.0    Male      Bachelor's  Senior Operations Coordinator
374  44.0  Female             PhD        Senior Business Analyst

     Years of Experience    Salary
0                    5.0   90000.0
1                    3.0   65000.0
2                   15.0  150000.0
3                    7.0   60000.0
4                   20.0  200000.0
..                   ...       ...
370                  8.0   85000.0
371                 19.0  170000.0
372                  2.0   40000.0
373                  7.0   90000.0
374                 15.0  150000.0

[375 rows x 6 columns]

In [21]:
#filling missing values with the mean
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Years of Experience'] = df['Years of Experience'].fillna(df['Years of Experience'].median())
df['Salary'] = df['Salary'].fillna(0)

#filling missing categorical missing valeus with a placeholder
df['Gender'] = df['Gender'].fillna('Not Specified')
df['Education Level'] = df['Education Level'].fillna('unknown')
df['Job Title'] = df['Job Title'].fillna('unknown')


#print the updated dataset with cleaned values 
print('\nCleaned Dataset')
print(df.head(20))

Cleaned Dataset
          Age  Gender Education Level              Job Title  \
0   32.000000    Male      Bachelor's      Software Engineer
1   28.000000  Female        Master's           Data Analyst
2   45.000000    Male             PhD         Senior Manager
3   36.000000  Female      Bachelor's        Sales Associate
4   52.000000    Male        Master's               Director
5   29.000000    Male      Bachelor's      Marketing Analyst
6   42.000000  Female        Master's        Product Manager
7   31.000000    Male      Bachelor's          Sales Manager
8   26.000000  Female      Bachelor's  Marketing Coordinator
9   38.000000    Male             PhD       Senior Scientist
10  29.000000    Male        Master's     Software Developer
11  48.000000  Female      Bachelor's             HR Manager
12  35.000000    Male      Bachelor's      Financial Analyst
13  37.415094  Female        Master's        Project Manager
14  27.000000    Male      Bachelor's   Customer Service Rep
15  44.000000    Male      Bachelor's     Operations Manager
16  33.000000  Female        Master's      Marketing Manager
17  39.000000    Male             PhD        Senior Engineer
18  25.000000  Female      Bachelor's       Data Entry Clerk
19  51.000000    Male      Bachelor's         Sales Director

    Years of Experience    Salary
0                   5.0   90000.0
1                   3.0   65000.0
2                  15.0  150000.0
3                   7.0   60000.0
4                  20.0  200000.0
5                   2.0   55000.0
6                  12.0  120000.0
7                   4.0   80000.0
8                   1.0   45000.0
9                  10.0  110000.0
10                  3.0   75000.0
11                 18.0  140000.0
12                  6.0   65000.0
13                 14.0  130000.0
14                  2.0   40000.0
15                 16.0  125000.0
16                  7.0   90000.0
17                 12.0  115000.0
18                  0.0   35000.0
19                 22.0  180000.0

In [27]:
#Data Standardization and normalization

from sklearn.preprocessing import StandardScaler, MinMaxScaler 

#standardization 
scalar  = StandardScaler()
df['Standardized Salary'] = scalar.fit_transform(df[['Salary']])

#Normalization
normalizer = MinMaxScaler()
df['Normalized Salary'] = normalizer.fit_transform(df[['Salary']])

print("\nDataset After Standardization and normalization : ")
print(df[['Salary','Standardized Salary','Normalized Salary']])

Dataset After Standardization and normalization :
       Salary  Standardized Salary  Normalized Salary
0     90000.0            -0.206595               0.36
1     65000.0            -0.720979               0.26
2    150000.0             1.027924               0.60
3     60000.0            -0.823855               0.24
4    200000.0             2.056690               0.80
..        ...                  ...                ...
370   85000.0            -0.309472               0.34
371  170000.0             1.439431               0.68
372   40000.0            -1.235362               0.16
373   90000.0            -0.206595               0.36
374  150000.0             1.027924               0.60

[375 rows x 3 columns]

In [30]:
#Outlier Detection and Treatment

import numpy as np

#detecting outlier using the Interquartile Range (IQR) method
Q1 = df['Salary'].quantile(0.25)
Q3 = df['Salary'].quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR 

#identifying the outliers 
outliers = df[(df['Salary'] < lower_bound) | (df['Salary'] > upper_bound)]
print("\nOutliers Detected : ")
print(outliers)

#Treating outliers (capping at lower and upper bound)

df['Salary'] = np.where(df['Salary'] < lower_bound, lower_bound,df['Salary'])
df['Salary'] = np.where(df['Salary'] > upper_bound, upper_bound,df['Salary'])

print("\nDataset after outlier Treatment")
print(df[['Salary']])

Outliers Detected :
Empty DataFrame
Columns: [Age, Gender, Education Level, Job Title, Years of Experience, Salary, Standardized Salary, Normalaized Salary, Normalized Salary]
Index: []

Dataset after outlier Treatment
       Salary
0     90000.0
1     65000.0
2    150000.0
3     60000.0
4    200000.0
..        ...
370   85000.0
371  170000.0
372   40000.0
373   90000.0
374  150000.0

[375 rows x 1 columns]